.projectRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 44px;
  background-color: #f8f7f7;
}

.projectRowCellCurrent {
  background-color: rgb(212,226,230);
  width: 14%;
  height: 177px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectRowCell {
  width: 14%;
  height: 177px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectLogo {
  max-width: 103px;
  margin-bottom: 16px;
}

p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #6b6b6b;
}

.projectCellContent {
  width: 112px;
  height: 34px;
  margin: 6px;
  border-radius: 4px;
  background-color: #c1c1c1;
}

.projectCellContentCurrent {
  width: 112px;
  height: 34px;
  margin: 6px;
  border-radius: 4px;
  background-color: #f4f4f4;
}

.projectRowHeaderContainer {
  padding-top: 67px;
  display: flex;
  margin: 0 44px;
}

.projectRowHeader {
  text-align: center;
  width: 14%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #6b6b6b;
  margin-bottom: 8px;
}