.container {
  background: white;
}

.navigationContainer {
  background: white;
  display: flex;
  float: left;
}

.logoContainer  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #0D9CAA , #1DC2B4);
  width: 130px;
  margin-right: 20px;
}

.logo {
  height: 35px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1250px;
}

.link {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .09px;
}

.userSearchContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  height: 75px;
}

.find {
  padding-top: 20px;
  height: 30px;
  padding-right: 15px;
}

.user {
  padding-top: 7px;
  height: 55px;
}